@{
  Layout = "_Layout";
}

<h1>@Model["category"].GetName()</h1>
<form method="post" action='/categories/@Model["category"].GetId()/items/sort-desc'>
  <button type="submit" name="DESC" class="btn btn-default">Sort Descending</button>
</form>
<form method="post" action='/categories/@Model["category"].GetId()/items/sort-asc'>
  <button type="submit" name="ASC" class="btn btn-default">Sort Ascending</button>
</form>
@foreach (var item in @Model["items"])
{
  string display = "";
  if (@item.GetFormattedDate() != null)
  {
    display = @item.GetFormattedDate().ToShortDateString();
  }
  else
  {
    display = "never!";
  }

  <h4>@item.GetDescription() | Due @display | <a href="/items/@item.GetId()/update">Edit</a> | <a href="/items/@item.GetId()/delete">Delete</a></h4>
}
<p><a href='/categories/@Model["category"].GetId()/items/new'>Add a new item</a></p>
<p><a href="/">Return Home</a></p>
